@{
    ViewData["Title"] = "Request sent!";
    Layout = "_Layout";
}
<!-- Signup-->
<section class="signup-section">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <h2 class="text-white mb-5">Ваше сообщение успешно отправлено</h2>
                <a class="btn btn-primary" href="/Home/Index">На главную</a>
            </div>
        </div>
    </div>
</section>